@font-face {
  font-family: mix;
  src: url(Aquino-Demo.ttf);
  
  
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    

}
main{
background: no-repeat;
background: rgb(75,33,119);
background: linear-gradient(180deg, rgba(75,33,119,1) 35%, rgba(163,94,31,1) 100%);

}
body{
height: 100vh;

}

.nst img{
    width: 60%;
}



.logo{
    width: 150px; 
    padding-bottom: 30px;
    
}
.main{
    background-color: #ffffff2b;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #0f0f0f7e;
    flex-direction: column;
}

.buyurtma p , .textmanzil{
font-family: mix;
text-align: center;


}

.buyurtma a {
    text-decoration: none;
    color: #fff;
}
.buyurtma button{
    background-color: #Ff9900;
    font-weight: 600;
width: 200px;
height: 40px;
border: none;
border-radius: 40px;
color: #fff;

}

.social a{
    background: #Ff9900;
    padding: 5px 10px;
    border-radius: 20px;
    color: #Ffff;
    font-weight: 700;
}
.map{
    height: 100%;
}

.map iframe{
    padding-top: -30px;
    width: 100%;
}
.text-title {
    font-size: 25px;
}
.textmanzil{
    padding-top: 20px;
}

.apps img{
    

}
@media (max-width:1000px) {
    .text-title {
        font-size: 20px ;
    }
   
}
@media (max-width:900px) {
.buyurtma button {
    font-size: 70%;
}
}
@media (max-width:800px) {
    .text-title {
        font-size: 15px ;
    }
   
   .buyurtma button{
width: 150px;
height: 35px;
border: none;
border-radius: 40px;

   }
    
}
@media (max-width:770px) {
    .text-title {
        font-size: 10px ;
    }
   .buyurtma button{
width: 120px;
height: 32px;
border: none;
border-radius: 40px;
   }
    
}
@media (min-width:5540px) {
    .text-title {
        font-size: 8px ;
    }
     .buyurtma button{
width: 100px;
height: 30px;
border: none;
border-radius: 40px;
}
    .buyurtma button {
        font-size: px;
    }

    .socials a{
        font-size: 70%;
    }
    
}